* text eol=lf
*.pdf binary
*.pdf.2 binary
*.png binary
*.ico binary
*.gif binary
*.swf binary
*.xls binary
*.xlsx binary
*.ttf binary
*.TTF binary
*.eot binary
*.svg binary
*.z binary
*.eps binary
*.jar binary
*.bz2 binary
*.gz binary
*.zip binary
*.tiff binary
*.woff binary
*.vsd binary
*.cab binary
*.CAB binary
*.prc binary
*.exe binary
*.psd binary
*.ods binary
*.widget binary
*.ai binary
*.docx binary
*.pyc binary
